<div class="settings">
  <form [formGroup]="form" (ngSubmit)="changeBitMap()">
    <div class="container">

      <div class="row">
        <div class="col-3 text-right">点:</div>
        <div class="col-9">
          <mat-radio-group formControlName="dot">
            <mat-radio-button [value]="1">8点</mat-radio-button>
            <mat-radio-button [value]="3">24点</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-3 text-right">宽:</div>
        <div class="col-9">
          <mat-form-field class="example-full-width">
            <input matInput type="number" min="1" max="600" formControlName="width">
          </mat-form-field>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-3 text-right">高:</div>
        <div class="col-9">
          <mat-form-field class="example-full-width">
            <input matInput type="number" formControlName="height">
          </mat-form-field>
        </div>
      </div>


      <div class="row align-items-center">
        <div class="col-3 text-right">下载文件名:</div>
        <div class="col-9">
          <mat-form-field class="example-full-width">
            <input matInput type="text" formControlName="fileName">
          </mat-form-field>
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col-4 text-right">
          <button type="submit" mat-raised-button color="primary">更新</button>
        </div>
        <div class="col-4 text-left">
          <button type="button" (click)="download()" mat-raised-button color="primary">下载</button>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="bitmap" [ngClass]="dotZoom">
  <div class="bitmap-body">
    <ng-container *ngFor="let row of bitmap;index as rowIdx;">
      <div class="row" [ngClass]="{ 'last-row': rowIdx % (dot * dotBit) === (dot * dotBit)-1 }">
        <ng-container *ngFor="let dot of row;index as dotIdx">
          <span class="dot" [ngClass]="{ 'selected': dot }" (click)="checke(rowIdx, dotIdx)"></span>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>